In [22]:
import os
import configparser
from datetime import datetime

from pyspark.sql import SparkSession
from pyspark.sql import functions as F
#from pyspark.sql.functions import year, month, dayofmonth, hour, weekofyear, date_format
from pyspark.sql.types import StructType as R, StructField as Fld, DoubleType as Dbl,\
                                StringType as Str, IntegerType as Int, DateType as Date,\
                                TimestampType as TimeStamp

In [23]:
def create_spark_session():
    spark = SparkSession \
        .builder \
        .config("spark.jars.packages", "org.apache.hadoop:hadoop-aws:2.7.0") \
        .getOrCreate()
    return spark

spark = create_spark_session()

In [34]:
output_data = "output"
#output_data = "s3://josh-dend-proj3-output"

In [35]:
artists_df = spark.read.parquet(os.path.join(output_data, "artists.parquet"))

In [36]:
artists_df.show(2)

+------------------+-----------------+--------------------+--------+---------+
|         artist_id|             name|            location|latitude|longitude|
+------------------+-----------------+--------------------+--------+---------+
|ARNF6401187FB57032|Sophie B. Hawkins|New York, NY [Man...|40.79086|-73.96644|
|AROUOZZ1187B9ABE51|      Willie Bobo|New York, NY [Spa...|40.79195|-73.94512|
+------------------+-----------------+--------------------+--------+---------+
only showing top 2 rows

In [37]:
songs_df = spark.read.parquet(os.path.join(output_data, "songs.parquet"))

In [38]:
songs_df.show(2)

+------------------+--------------------+---------+----+------------------+
|           song_id|               title| duration|year|         artist_id|
+------------------+--------------------+---------+----+------------------+
|SOAOIBZ12AB01815BE|I Hold Your Hand ...| 43.36281|2000|ARPBNLO1187FB3D52F|
|SONYPOM12A8C13B2D7|I Think My Wife I...|186.48771|2005|ARDNS031187B9924F0|
+------------------+--------------------+---------+----+------------------+
only showing top 2 rows

In [39]:
time_df = spark.read.parquet(os.path.join(output_data, "time.parquet"))

In [40]:
time_df.show(2)

+----------------+----+---+----+-------+----+-----+
|      start_time|hour|day|week|weekday|year|month|
+----------------+----+---+----+-------+----+-----+
|1.542241826796E9|   0| 15|  46|    Thu|2018|   11|
|1.542242481796E9|   0| 15|  46|    Thu|2018|   11|
+----------------+----+---+----+-------+----+-----+
only showing top 2 rows

In [41]:
users_df = spark.read.parquet(os.path.join(output_data, "users.parquet"))

In [42]:
users_df.show(2)

+-------+----------+---------+------+-----+
|user_id|first_name|last_name|gender|level|
+-------+----------+---------+------+-----+
|     88|  Mohammad|Rodriguez|     M| paid|
|     88|  Mohammad|Rodriguez|     M| free|
+-------+----------+---------+------+-----+
only showing top 2 rows